<p-toast></p-toast>

<p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="loading"></p-progressBar>
<div class="card" *ngIf="!loading">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Thêm Nhà Hàng" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($any($event.target), 'contains')" placeholder="Search..." />
            </span>
        </ng-template>  
    </p-toolbar>

    <p-table #dt [value]="restaurants" [rows]="10" [paginator]="true" [globalFilterFields]="['name','address','phone','description']"
        [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <!-- <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            <h5 class="p-m-0">Manage Products</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 2rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="address">Địa Chỉ <p-sortIcon field="address"></p-sortIcon>
                </th>
                <th pSortableColumn="phone">Số Điện Thoại <p-sortIcon field="phone"></p-sortIcon>
                </th>
                <th pSortableColumn="description">Chú Thích <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="created">Ngày Tạo <p-sortIcon field="created"></p-sortIcon>
                </th>
                <th pSortableColumn="updated">Ngày Cập Nhật <p-sortIcon field="updated"></p-sortIcon>
                </th>
                <th pSortableColumn="deleted">Xóa <p-sortIcon field="deleted"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-restaurant>
            <tr>
                <td>
                    <p-tableCheckbox [value]="restaurant"></p-tableCheckbox>
                </td>
                <td>{{ restaurant.name }}</td>
                <td>{{ restaurant.address }}</td>
                <td>{{ restaurant.phone }}</td>
                <td>{{ restaurant.description }}</td>
                <td>
                    {{ restaurant.created | date: "dd/MM/yyyy" }}
                    {{ restaurant.createdUser?.userName }}
                </td>
                <td>
                    {{ restaurant.updated | date: "dd/MM/yyyy" }}
                    {{ restaurant.updatedUser?.userName }}
                </td>
                <td>
                    {{ restaurant.deleted}}
                    <!-- <div *ngIf="restaurant.deleted, else Recover"><p-tag styleClass="p-mr-2" icon="pi pi-times" severity="danger" value="Block"></p-tag></div>    
                    <ng-template #Recover><p-tag styleClass="p-mr-2" icon="pi pi-check" severity="success" value="Stable" ></p-tag></ng-template> -->
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editRestaurant(restaurant)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteRestaurant(restaurant)"></button>
                    <button pButton pRipple icon="pi pi-undo" class="p-button-rounded p-button-warning"
                        (click)="recoverRestaurant(restaurant)"></button>   
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{restaurant ? restaurant.length : 0 }} products.
        </div>
    </ng-template> -->
    </p-table>
</div>

<p-dialog [(visible)]="restaurantDialog" [style]="{width: '450px'}" header="Restaurant Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Tên Quán</label>
            <input type="text" pInputText id="name" [(ngModel)]="restaurant.name" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !restaurant.name">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="address">Địa chỉ</label>
            <input type="text" pInputText id="address" [(ngModel)]="restaurant.address" required autofocus />
        </div>
        <div class="p-field">
            <label for="phone">Số Điện Thoại</label>
            <input type="text" pInputText id="phone" [(ngModel)]="restaurant.phone" required autofocus />
        </div>
        <div class="p-field">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea [(ngModel)]="restaurant.description" required rows="3"
                cols="20"></textarea>
        </div>

        <!-- <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">Price</label>
                <p-inputNumber id="price" [(ngModel)]="restaurant.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="quantity">Quantity</label>
                <p-inputNumber id="quantity" [(ngModel)]="restaurant.quantity"></p-inputNumber>
            </div>
        </div>-->
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveRestaurant()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>